<!DOCTYPE html>
html(lang="en")
    head
        link(rel='stylesheet', type='text/css', href='./assets/style.css')
        title My Kinde App
    body
        block content

        footer.footer
            .container
                strong.text-heading-2 KindeAuth
                p.footer-tagline.text-body-3 Visit our
                    a.link(href='https://kinde.com/docs') help center
                small.text-subtle &copy; 2022 KindeAuth, Inc. All rights reserved
